#maindiv {
    display: grid;
    grid-template-rows: repeat(20, 100px);
    grid-template-columns: repeat(8, 100px);
    width: 98%;
    margin: auto;
}


h2, h3 {
    text-align: center;
    color: #333;
}

#headerdiv, #footerdiv {
    grid-column: 1 / 9;
    background-color: #f2f2f2;
    padding: 10px;
}

#pageheader, #pagefooter {
    text-align: center;
    color: #ff99cc;
}

#inputdiv {
    grid-row: 2 / 10;
    grid-column: 1 / 3;
    width: 400px;
    padding-left: 5px;
    border: 1px solid black;
    height: 250px;
}


#buttonsdiv {
    grid-row: 2 / 10;
    grid-column: 4 / 5;
    width: 200px;
    padding-left: 15px;
}

#cartdiv {
    grid-row: 2 / 19;
    grid-column: 5 / 9;
    padding-left: 10px;
    width: 850px;
    height: 600px;
    border: 1px solid black;
    overflow-x: auto;
}


#btnaddtocart {
    margin-top: 80px;
}

.inputlabel {
    display: inline-block;
    width: 80px;
    text-align: left;
}

#itemstable {
    margin-left: auto;
    margin-right: auto;
}

#totalamount {
    text-align: right;
}

#itemdesc {
    width: 200px;
}

#amountcolumn, #pricecolumn {
    width: 100px;
}

#alignright {
    text-align: right;
}

#tablebody tr:nth-child(even) { background-color: #f2f2f2; }
#tablebody tr:nth-child(odd) { background-color: #bfddf1; }

input {
    width: 100px;
    text-align: right;
    padding: 3px;
}

#itemselect {
    width: 120px;
    text-align: left;
}

dialog {
    border-radius: 10px;
    padding: 15px;
    background-color: #f2f2f2;
}

#dlgbuttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

#btnConfirm {
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

#btnCancel {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

@media screen and (max-width: 900px) {
    #maindiv {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
    #cartdiv {
        width: 100%;
        grid-column: 1 / 5;
        overflow-x: auto;
    }
    #inputdiv, #buttonsdiv {
        width: 100%;
        grid-column: 1 / 5;
    }
    input, #itemselect {
        width: 80%;
    }
}
